.main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 4rem 1.25rem;
}

.back {
  align-self: flex-start;
}

.cover {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 1rem;
  background-color: var(--gray-100);
}

.image {
  object-fit: cover;
}

@media (min-width: 768px) {
  .main {
    padding-top: 120px;
  }
}

.prose {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.list {
  padding-left: 1.25rem;
  list-style: disc;
}

.contentImage {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}
